<template name="home">
  <h1>Home of the new API documentation for Meteor.</h1>

  <h2>Features</h2>
  <p>
    Some of the features we're discussing right now. <strong>This will be an
      open source project.</strong>
  </p>
  <ul>
    <li>
      Docs one can search
    </li>
    <li>
      Docs one can have routes and get to instantly from Google or similar
      search.
    </li>
    <li>
      Docs one can comment
    </li>
    <li>
      Docs one can read the code directly
    </li>
    <li>
      Docs one can vote on the best example, or use of function/package.
    </li>
    <li>
      Docs one can get instructions on how to best document their code to get
      more usage of the package.
    </li>
    <li>
      Integration with Atmosphere for discovery of packages.
    </li>
  </ul>
  <h2>Looking for Sponsors</h2>
  <p>
    We are looking for sponsors who can benefit from using a searchable apidocs
    such as php.net and api.drupal.org where the community can help improve
    documentation and examples for existing code - both in core and contrib.
  </p>
  <h3>So far</h3>
  <ul>
    <li>Studio Interact (Findwise)</li>
    <li>Your company, name, ...</li>
  </ul>
  <h2>Looking for Team members</h2>
  <p>
    We will try to find a team who are committed to following up the project.
  </p>
  <h3>So far</h3>
  <ul>
    <li>
      Tobias Berg - @sejbot (Search Core, Core)
    </li>
    <li>
      Tim Brandin - @timbrandin (GUI, Core)
    </li>
    <li>
      1x Designer (GUI)
    </li>
    <li>
      1x Developer (GUI, Core)
    </li>
    <li>
      1x Developer (Search Core, Core)
    </li>
    <li>
      1x Devops (Search Core, Core)
    </li>
  </ul>
  <h3>Divisions</h3>
  <ul>
    <li>
      <strong>GUI</strong> - A clean, simple, responsive and up to date front
      end user interface.
    </li>
    <li>
      <strong>Core</strong> - Parcing source code and comment blocks used by the
      Search Core.
    </li>
    <li>
      <strong>Search Core</strong> - Maintainence of a best practise Search
      solution.
    </li>
  </ul>
  <h2>Roadmap</h2>
  <p>
    <a href="https://trello.com/b/Fp9P2sDt/apidocs-meteor-com">https://trello.com/b/Fp9P2sDt/apidocs-meteor-com</a>
  </p>
</template>
